<div class="row">
    <div class="span12">
        <div class="row show-grid">
            <div class="span8">
                <h2>Tags</h2>
                <p class="lead">Click a tag to view the corresponding posts.</p>
                <ul class="nav nav-pills nav-stacked pull-left">
                    $tags$
                </ul>
            </div>
            <div class="span3 offset1">
                <img src="/img/caution-hard-hat-area.png" alt="under
                construction"/>
            </div>
        </div>
    </div>
</div>
